<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container-fluid px-4 px-lg-5">
        <a class="navbar-brand text-black" href="#page-top">BuildWithTI</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link text-black" href="#about">Tentang Kami</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdownKelas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Kelas
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownKelas">
                        <!-- Memanggil class dari backend secara berulang -->
                        <% for(let i = 0; i < kategori.length; i++) { %>
                            <li>
                                <a class="dropdown-item" href="/commonusers/class/<%= kategori[i].id_kategori %>">
                                    <h5 class="card-title mb-0" style="font-weight: bold; font-size: 1rem;"><%= kategori[i].nama_kategori %></h5>
                                </a>
                            </li>
                        <% } %>                        
                        <!-- existing code frontend -->
                            <!-- <li><a class="dropdown-item" href="/class">UI/UX Design</a></li>
                            <li><a class="dropdown-item" href="#">Web Development</a></li>
                            <li><a class="dropdown-item" href="#">Android Development</a></li>
                            <li><a class="dropdown-item" href="#">Data Analysis</a></li>
                            <li><a class="dropdown-item" href="#">Flutter</a></li> -->
                        <!-- /existing code frontend -->
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdownAlur" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Alur Belajar
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAlur">
                        <% alur_belajar.forEach(function(item) { %>
                            <li>
                                <a class="dropdown-item" href="/commonusers/alur/<%= item.id_alur_belajar %>">
                                    <div class="row">
                                        <div class="col">
                                            <img class="img-fluid rounded-circle" src="/images/upload/<%= item.file_alur_belajar %>" alt="<%= item.alur_belajar %>" style="width: 30px; height: 30px;">
                                        </div>
                                        <div class="col mt-2">
                                            <h5 class="card-title mb-0" style="font-weight: bold; font-size: 1rem;"><%= item.alur_belajar %></h5>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <% }); %>
                            <!-- /existing code frontend -->
                                <!-- <li><a class="dropdown-item" href="/class">UI/UX Design</a></li>
                                <li><a class="dropdown-item" href="#">Web Development</a></li>
                                <li><a class="dropdown-item" href="#">Android Development</a></li>
                                <li><a class="dropdown-item" href="#">Product Manager</a></li> -->
                            <!-- /existing code frontend -->
                    </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-black" href="#signup">Hubungi Kami</a>
                </li>
            </ul>
            <!-- <div class="mx-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </div> -->
            
            <div class="dropdown">
                <button class="btn p-0 border-0 mx-3" type="button" id="dropdownUserMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000000" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUserMenu">
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
