<%- include('partials/common/_head') %>

<!-- Navigation-->
<%- include('partials/common/_navbarlandingpage') %>

<!-- Masthead-->
<header class="masthead" id="about">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center text-black">
                <h1 class="mx-auto my-0">Welcome to BuildWithTI</h1>
                <h2 class="text-black mx-auto mt-4 mb-5">
                    We're a dedicated educational platform committed to providing quality education access to everyone. With a curriculum focusing on skill development, interactive learning, and easy accessibility.
                </h2>
                <div class="btn-group" role="group" aria-label="Register Buttons">
                    <a class="btn btn-outline-black" href="register_user">Daftar</a>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    function handleClassClick(classId) {
        window.location.href = `/commonusers/course/${classId}`;
    }
</script>
<!-- Classes Section -->
<section class="projects-section bg-light" id="classes">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 mb-4 mb-lg-5 justify-content-center">
            <h2 class="text-center mb-4">Kelas Pembelajaran</h2>
            <% if (classes.length > 0) { %>
                <% classes.forEach(classItem => { %>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body d-flex align-items-center" onclick="handleClassClick('<%= classItem.id_kelas %>')" style="cursor: pointer;">
                                <img class="img-fluid mb-3 rounded-circle me-3" src="/images/upload/<%= classItem.file_kelas %>" alt="Class Image" style="width: 100px; height: 100px;">
                                <div>
                                    <h4 class="card-title" style="font-weight: bold;"><%= classItem.judul %></h4>
                                </div>
                            </div>
                            <div class="card-body"></div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>No classes available</p>
            <% } %>
        </div>
    </div>
</section>

<!-- Tools Section -->
<section class="tools-section bg-light" id="tools">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 mb-4 mb-lg-5 justify-content-center">
            <h2 class="text-center mb-4">Alat</h2>
            <% if (tools.length > 0) { %>
                <% tools.forEach(tool => { %>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body d-flex align-items-center">
                                <img class="img-fluid mb-3 rounded-circle me-3" src="/images/upload/<%= tool.file_alat %>" alt="Tool Image" style="width: 100px; height: 100px;">
                                <div>
                                    <h4 class="card-title" style="font-weight: bold;"><%= tool.nama_alat %></h4>
                                    <p class="card-text"><%= tool.deskripsi %></p>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><%= tool.deskripsi %></p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>No tools available</p>
            <% } %>
        </div>
    </div>
</section>

<!-- Register Mentor Section -->
<section class="masthead bg-light" id="mentor">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center text-black">
                <h2 class="text-center mb-4">Join Us as a Mentor</h2>
                <h3 class="text-black mx-auto mt-4 mb-5">
                    We're always looking for experienced professionals to help guide and educate our students. Become a mentor and make a difference by sharing your knowledge and skills.
                </h3>
                <div class="btn-group mb-5" role="group" aria-label="Register Mentor Button">
                    <a class="btn btn-outline-black" href="register_tutor">Daftar Mentor</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Contact-->
<%- include('partials/common/_contact') %>

<!-- Footer-->
<%- include('partials/common/_footer') %>
