<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>EXPRESS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
    <h2 class="mb-4">Edit Kelas</h2>
    <form action="/kelas_pembelajaran/update/<%= id %>" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="nama" class="form-label">Judul Kelas</label>
            <input type="text" class="form-control" name="judul" value="<%= judul %>" required>
        </div>   

        <div class="mb-3">
          <label for="nama" class="form-label">Nama Kategori</label>
          <select class="form-select" aria-label="Pilih Alat" name="id_kategori" required>
              <option selected>Pilih Kategori</option>
              <% for(var i=0; i < data1.length; i++){ %>
                  <option value="<%= data1[i].id_kategori %>"><%= data1[i].nama_kategori %></option>
              <% } %>
          </select>
      </div>
      
        <div class="mb-3">
          <label for="nama" class="form-label">Nama Alat</label>
          <select class="form-select" aria-label="Pilih Alat" name="id_alat" required>
              <option selected>Pilih Alat</option>
              <% for(var i=0; i < data2.length; i++){ %>
                  <option value="<%= data2[i].id_alat %>"><%= data2[i].nama_alat %></option>
              <% } %>
          </select>
      </div>
        <div class="mb-3">
            <label for="nama" class="form-label">Deskripsi</label>
            <input type="text" class="form-control" name="deskripsi" value="<%= deskripsi %>" required>
        </div>   
        <div class="mb-3">
            <label for="nama" class="form-label">Harga Kelas</label>
            <input type="text" class="form-control" name="harga_kelas" value="<%= harga_kelas %>" required>
        </div>   
        <div class="mb-3">
            <label for="nama" class="form-label">Link Kelas</label>
            <input type="text" class="form-control" name="link_kelas" value="<%= link_kelas %>" required>
        </div>   
        <div class="mb-3">
            <label for="nama" class="form-label">Foto Kelas</label>
            <input type="file" class="form-control" name="file_kelas" required>
        </div>   
        <div class="mb-3">
        <button type="submit" class="btn btn-sm btn-success">Simpan</button>
        </div>
      </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
