<%- include('../../partials/common/_head.ejs') %>

<!-- Navigation-->
<%- include('../../partials/users/_navbar') %>

<!-- Projects-->
<section class="projects-section" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <p class="text-success" style="font-size: 1rem;">Career path</p>
                <div class="Page text-lg-left text-black" style="margin-right: 20px;">
                    <p><%= alur.alur_belajar %></p>
                   
                </div>
                <div class="text-start mt-5 mb-5 mx-auto">
                    <a href="#mulai" class="btn btn-primary btn-sm me-3 rounded-pill" style="background-color: #00B0FF; color: white;">
                        Mulai Belajar
                    </a>
                </div>
                
            </div>
            <div class="mx-auto text-center col-lg-2">
                <img class="img-fluid mb-3 mb-lg-0" src="/temp_land_page/assets/ilustration/uiuxdesain.svg" alt="..." style="max-width: 450px; height: auto;" />
            </div>
        </div>
        <!-- Akhir Featured Project Row-->

        <!-- Ruang antara Featured Project dan Project One -->
        <div class="mb-5 mb-7"></div>

        <!-- Project One Row-->
        <!-- <div  class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <p class="text-success" style="font-size: 1rem;">Low Risk, High Return</p>
                <div class="Page text-lg-left" style="margin-right: 20px; font-size: 1.8rem;">
                    <p>Investasi Skills Terbaru</p>
                    <p>Demi Karir Impianmu</p>
                </div>
            </div>
        </div> -->
        <!-- Akhir Project One Row-->

        <!-- Ruang antara Project One dan Project Two -->
        <div class="mb-4 mb-lg-5"></div>

        <!-- Project Two Row-->
        <!-- <div class="row gx-4 mb-4 mb-lg-5 justify-content-center">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-start">
                        <img class="img-fluid rounded-circle" src="/temp_land_page/assets/ilustration/portofolio.svg" alt="UI/UX Design" style="width: 80px; height: 80px; margin-right: 15px;">
                        <div>
                            <h5 class="card-title mb-0" style="font-weight: bold; font-size: 1.25rem;">Great Portfolio</h5>
                            <p class="card-text">Menjadi kandidat yang memiliki value tinggi ketika melamar kerja</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-start">
                        <img class="img-fluid rounded-circle" src="/temp_land_page/assets/ilustration/career.svg" alt="Website Development" style="width: 80px; height: 80px; margin-right: 15px;">
                        <div>
                            <h5 class="card-title mb-0" style="font-weight: bold; font-size: 1.25rem;">Career Shortcuts</h5>
                            <p class="card-text">Ikuti panduan belajar terarah buatan oleh professional mentor</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-start">
                        <img class="img-fluid rounded-circle" src="/temp_land_page/assets/ilustration/acses.svg" alt="Mobile Development" style="width: 80px; height: 80px; margin-right: 15px;">
                        <div>
                            <h5 class="card-title mb-0" style="font-weight: bold; font-size: 1.25rem;">Lifetime Access</h5>
                            <p class="card-text">Belajar jadi lebih produktif sesuai dengan fase masing-masing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Akhir Project Two Row-->

        <!-- Ruang antara Project Two dan Project Three -->
        <div class="mb-4 mb-lg-5"></div>

        <!-- Project Three Row-->
        <!-- <div id="mulai" class="row gx-4 mb-4 mb-lg-5 justify-content-center text-center">
            <div class="col-lg-6 col-md-8 mb-4">
                <div class="content">
                    <h5 style="font-weight: bold; font-size: 1.2rem; color: green;">Well-Designed Roadmap</h5>
                    <p style="font-weight: bold; font-size: 2rem;">Syllabus Become User-Interface Designer</p>
                </div>
            </div>
        </div> -->
        <!-- Akhir Project Three Row-->

        
        <div class="row mt-5">
            <div class="col-md-4 mt-3">
                <% kelas.forEach(function(activity, index) { %>
                    <div class="col-12">
                        <h3>Class <%= index + 1 %></h3>
                    </div>
                    <a href="/commonusers/course/<%= activity.id_kelas %>" class="card-link">
                        <div class="card shadow-lg mb-3">
                            <div class="card-body">
                                <h5 class="card-title"><%= activity.judul %></h5>
                                <div class="list-group list-group-flush">
                                    <ul>
                                        <% video.forEach(function(videos) { %>
                                            <% if (videos.id_kelas === activity.id_kelas) { %>
                                                <li class="list-group-item"><%= videos.judul_video %></li>
                                            <% } %>
                                        <% }); %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                <% }); %>
            </div>
        </div>
        
        <!-- Akhir Project Four Row -->

        <!-- Ikon Panah Kebawah -->
        <!-- <div class="text-center mb-4">
            <i class="fas fa-chevron-down fa-3x text-primary"></i>
        </div> -->

        <!-- Card Kedua -->
        <div class="row gx-4 mb-4 mb-lg-5 justify-content-center">
            <!-- Card Kedua di Tengah -->
            <!-- <div class="col-lg-8 col-md-10 mb-4">
                <div class="card h-100 position-relative card-expand" style="overflow: hidden; transition: all 0.3s;">
                    <div class="card-body d-flex align-items-start">
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="video-container">
                                <iframe id="main-video-2" src="https://www.youtube.com/embed/YOUR_DEFAULT_VIDEO_ID" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title mb-3 text-center" style="font-weight: bold; font-size: 1.8rem;">UI Design: Wireframe to Visual Design</h5>
                            <ul class="card-text points-list" style="list-style-type: none; padding-left: 20px; margin-top: 10px; display: none;">
                                <li><i class="fas fa-check-circle text-primary me-2"></i> Import Gambar dan Icon untuk Tampilan UI Design</li>
                                <li><i class="fas fa-check-circle text-primary me-2"></i> Menentukan Hirarki Teks pada Konten</li>
                                <li><i class="fas fa-check-circle text-primary me-2"></i> Mengubah Tampilan Wireframe menjadi Visual Design</li>
                                <li><i class="fas fa-check-circle text-primary me-2"></i> Membuat Moodboard untuk Referensi Design</li>
                            </ul>
                            <a href="/class" class="btn btn-sm btn-primary rounded-pill learn-more" style="margin-top: 10px; background-color: #D3D3D3; border-color: #D3D3D3;">
                                Pelajari Selengkapnya
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Akhir Project Four Row -->



        <!-- Ruang antara Project Six dan Project Seven -->
        <div class="mb-4 mb-7"></div>

    </div>
</section>

<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Email address input-->
                    <div class="row input-group-newsletter">
                        <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Enter email address..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                        <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Notify Me!</button></div>
                    </div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
                    <!-- Submit success message-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3 mt-2 text-white">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<%- include('../../partials/common/_contact') %>

<!-- Footer-->
<%- include('../../partials/common/_footer') %>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const hiddenContent = document.querySelectorAll('.hidden-content .col-lg-4');
        hiddenContent.forEach((element, index) => {
            if (index >= 3) {
                element.style.display = 'none';
            }
        });
    });

    function showMoreContent() {
        const hiddenContent = document.querySelectorAll('.hidden-content .col-lg-4');
        hiddenContent.forEach(element => {
            element.style.display = 'block';
        });
        const button = document.querySelector('button[onclick="showMoreContent()"]');
        button.style.display = 'none';
    }
    // (Card Behavior):
    document.addEventListener('DOMContentLoaded', function() {
    const cards = document.querySelectorAll('.card-expand');

    cards.forEach(card => {
        card.addEventListener('mouseover', function() {
            card.classList.add('expanded');
            const pointsList = card.querySelector('.points-list');
            const learnMoreButton = card.querySelector('.learn-more');
            pointsList.style.display = 'block';
            learnMoreButton.style.display = 'block';
        });

        card.addEventListener('mouseleave', function() {
            card.classList.remove('expanded');
            const pointsList = card.querySelector('.points-list');
            const learnMoreButton = card.querySelector('.learn-more');
            pointsList.style.display = 'none';
            learnMoreButton.style.display = 'none';
        });
    });
});

</script>

