<%- include('../../partials/common/_head.ejs') %>

<!-- Navigation-->
<%- include('../../partials/common/_navbar') %>

<!-- Projects-->
<section class="projects-section" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <p class="text-success" style="font-size: 1rem;">Career path</p>
                <div class="Page text-lg-left text-black" style="margin-right: 20px;">
                    <p><%= alurr.alur_belajar %></p>
                </div>
                <div class="text-start mt-5 mb-5 mx-auto">
                    <a href="#mulai" class="btn btn-primary btn-sm me-3 rounded-pill" style="background-color: #00B0FF; color: white;">
                        Mulai Belajar
                    </a>
                </div>
            </div>
            <div class="mx-auto text-center col-lg-2">
                <img class="img-fluid mb-3 mb-lg-0" src="/temp_land_page/assets/ilustration/uiuxdesain.svg" alt="..." style="max-width: 450px; height: auto;" />
            </div>
        </div>
        <!-- Akhir Featured Project Row-->

        <!-- Ruang antara Featured Project dan Project One -->
        <div class="mb-5 mb-7"></div>

        <!-- Project One Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <p class="text-success" style="font-size: 1rem;">Low Risk, High Return</p>
                <div class="Page text-lg-left" style="margin-right: 20px; font-size: 1.8rem;">
                    <p>Investasi Skills Terbaru</p>
                    <p>Demi Karir Impianmu</p>
                </div>
            </div>
        </div>
        <!-- Akhir Project One Row-->

        <!-- Ruang antara Project One dan Project Two -->
        <div class="mb-4 mb-lg-5"></div>

        <!-- Project Two Row-->
        <div class="row gx-4 mb-4 mb-lg-5 justify-content-center">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-start">
                        <img class="img-fluid rounded-circle" src="/temp_land_page/assets/ilustration/portofolio.svg" alt="UI/UX Design" style="width: 80px; height: 80px; margin-right: 15px;">
                        <div>
                            <h5 class="card-title mb-0" style="font-weight: bold; font-size: 1.25rem;">Great Portfolio</h5>
                            <p class="card-text">Menjadi kandidat yang memiliki value tinggi ketika melamar kerja</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-start">
                        <img class="img-fluid rounded-circle" src="/temp_land_page/assets/ilustration/career.svg" alt="Website Development" style="width: 80px; height: 80px; margin-right: 15px;">
                        <div>
                            <h5 class="card-title mb-0" style="font-weight: bold; font-size: 1.25rem;">Career Shortcuts</h5>
                            <p class="card-text">Ikuti panduan belajar terarah buatan oleh professional mentor</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-start">
                        <img class="img-fluid rounded-circle" src="/temp_land_page/assets/ilustration/acses.svg" alt="Mobile Development" style="width: 80px; height: 80px; margin-right: 15px;">
                        <div>
                            <h5 class="card-title mb-0" style="font-weight: bold; font-size: 1.25rem;">Lifetime Access</h5>
                            <p class="card-text">Belajar jadi lebih produktif sesuai dengan fase masing-masing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Akhir Project Two Row-->

        <!-- Ruang antara Project Two dan Project Three -->
        <div class="mb-4 mb-lg-5"></div>

        <!-- Project Three Row-->
        <div id="mulai" class="row gx-4 mb-4 mb-lg-5 justify-content-center text-center">
            <div class="col-lg-6 col-md-8 mb-4">
                <div class="content">
                    <h5 style="font-weight: bold; font-size: 1.2rem; color: green;">Well-Designed Roadmap</h5>
                    <p style="font-weight: bold; font-size: 2rem;">Full Syllabus </p>
                </div>
            </div>
        </div>
        <!-- Akhir Project Three Row-->

        <!-- Project Four Row -->
        <% kelas.forEach(function(activity, index) { %>
            <div class="row gx-4 mb-4 mb-lg-5 justify-content-center">
                <!-- Ikon Panah Besar di Atas Tiap Perulangan -->
                <div class="text-center mb-4">
                    <i class="fas fa-chevron-down fa-5x text-primary"></i>
                </div>
                
                <!-- Card Pertama -->
                <div class="col-lg-8 col-md-10 mb-4">
                    <!-- Ikon Panah Kebawah -->
                    <% if (index > 0) { %>
                    <div class="text-center mb-4">
                        <i class="fas fa-chevron-down fa-3x text-primary"></i>
                    </div>
                    <% } %>
                    <div class="card h-100 position-relative card-expand" style="overflow: hidden; transition: all 0.3s;">
                        <div class="card-body d-flex align-items-start">                   
                            <div class="col-md-12">
                                <h5 class="card-title mb-3 text-center">
                                    <a href="/commonusers/course/<%= activity.id_kelas %>" class="card-link">
                                        <h5 class="card-title" style="font-weight: bold; font-size: 1.8rem;"><%= activity.judul %></h5>
                                    </a>
                                </h5>
                                <ul class="card-text points-list" style="list-style-type: none; padding-left: 20px; margin-top: 10px; display: none;">
                                    <!-- Your list items here if needed -->
                                </ul>
                                <div class="text-center mx-auto">
                                    <a href="/commonusers/course/<%= activity.id_kelas %>" class="btn btn-primary btn-sm me-2 rounded-pill" style="background-color: #00B0FF; color: white;">
                                        <p>Load More</p>
                                    </a>   
                                </div>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
        <!-- Akhir Project Four Row -->

        <!-- Modal Structure -->
        <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="videoModalLabel">Video</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <iframe id="main-video" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- Akhir Modal Structure -->

        <!-- Ruang antara Project Six dan Project Seven -->
        <div class="mb-4 mb-7"></div>
    </div>
</section>

<!-- Contact-->
<%- include('../../partials/common/_contact') %>

<!-- Footer-->
<%- include('../../partials/common/_footer') %>

<script>
     var globalVideoIDs; // Variabel global untuk menyimpan id_video dari video yang dipilih

     window.onload = function() {
        changeVideo();
    };
    function changeVideo() {
        globalVideoIDs = video.link_video;  // Simpan ID video secara global jika diperlukan
        var videoId = getYouTubeVideoId(globalVideoIDs);
        var mainVideo = document.getElementById('main-video');
        mainVideo.src = 'https://www.youtube.com/embed/' + videoId;
        $('#videoModal').modal('show'); // Tampilkan modal setelah mengatur URL video
    }

    function getYouTubeVideoId(url) {
        var videoId = '';
        var match = url.match(/[?&]v=([^&]+)/);
        if (match) {
            videoId = match[1];
        } else {
            // Handle youtu.be URL format if necessary
            match = url.match(/youtu\.be\/([^&]+)/);
            if (match) {
                videoId = match[1];
            }
        }
        return videoId;
    }
    document.addEventListener("DOMContentLoaded", function() {
        const hiddenContent = document.querySelectorAll('.hidden-content .col-lg-4');
        hiddenContent.forEach((element, index) => {
            if (index >= 3) {
                element.style.display = 'none';
            }
        });
    });

    function showMoreContent() {
        const hiddenContent = document.querySelectorAll('.hidden-content .col-lg-4');
        hiddenContent.forEach(element => {
            element.style.display = 'block';
        });
        const button = document.querySelector('button[onclick="showMoreContent()"]');
        button.style.display = 'none';
    }

    // Card Behavior:
    document.addEventListener('DOMContentLoaded', function() {
        const cards = document.querySelectorAll('.card-expand');

        cards.forEach(card => {
            card.addEventListener('mouseover', function() {
                card.classList.add('expanded');
                const pointsList = card.querySelector('.points-list');
                const learnMoreButton = card.querySelector('.learn-more');
                pointsList.style.display = 'block';
                learnMoreButton.style.display = 'block';
            });

            card.addEventListener('mouseleave', function() {
                card.classList.remove('expanded');
                const pointsList = card.querySelector('.points-list');
                const learnMoreButton = card.querySelector('.learn-more');
                pointsList.style.display = 'none';
                learnMoreButton.style.display = 'none';
            });
        });
    });
</script>
