<%- include('../partials/__head.ejs') %>
<%- include('../partials/__nav.ejs') %>
    <div class="container">
        <%- include('../partials/__message.ejs') %>
        <div class="row">
            <div class="col">
                <h1>Hello Admin <%- nama_users %> </h1> <a href="/logout"> Logout </a>
            </div>

        </div>
    </div>
    <%- include('../partials/__foot.ejs') %>

